# StructureTemplatePool - modifying village pools to add Sakura Japanese buildings (used by SakuraVillageStructures)
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates

# Old 1.12.2 SRG-name village generation ATs (no longer needed):
# public net.minecraft.entity.ai.brain.task.GiveHeroGiftsTask field_220403_a # GIFTS
# public net.minecraft.village.PointOfInterestType func_221052_a(Lnet/minecraft/village/PointOfInterestType;)Lnet/minecraft/village/PointOfInterestType; # registerBlockStates